:root{
    --clr-primary: #ff7a7a;
    --clr-head:#5c53a2;
    --clr-submit:hsl(154, 65%, 68%);
    --ff-primary:'Poppins', sans-serif;
}
h1,body{
    margin: 0;
}
/*typography*/
body{
    font-family: var(--ff-primary);
    background-color: var(--clr-primary);
    line-height: 2rem;
}
.intro{
    text-align: center;
}
.light{
    color:#fff
}
.large{
    font-size: 1.5rem;
    font-weight: 600;
}
.medium{
    font-size: 0.75rem;
}
.small{
    font-size: 0.5rem;
    line-height: 0.5rem;
    font-weight: 400;
}
.text::placeholder{
    font-family: var(--ff-primary);
    font-weight: 600;
    padding-left: 10px;
}
.red{
    color: red;
}
/*layout*/
h1{
    padding: 2rem;
    text-align: center;
}
p{
    padding: 1rem;
}
.main{
    width: min(80vw,18rem);
    margin-bottom: 1rem;
    padding: min(5%, 1rem);
    flex-basis: 100%;
}
.heading{
    background-color: #5c53a2;
    margin-inline: auto;
    margin-bottom: 1rem;
    padding: min(5%, 1rem);
    text-align: center;
    border-radius: 10px;
    
}
.bold{
    font-weight: 600;
}
.sign,.heading{
    box-shadow: 0 8px 2px -2px rgba(141,92,92,0.36);
}
.sign{
    background-color: #f4f4f4;
    padding: 1.5rem;
    border-radius: 10px;
    position: relative;
}
.text {
    width: 96.5%;
    margin-bottom: 0.5rem;
    border-style: solid;
    border-color: rgb(216, 212, 212);
    border-width: 1px;
    border-radius: 25px;
}
.text,button{
    height: 2rem;

}
button{
    width: 100%;
    height: 2.5rem;
    border-color: transparent;
    background-color: #32d18c;
    text-shadow: 2px 2px 3px hsl(154, 54%, 64%);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/*validation*/
.form{
    display: flex;
    flex-direction: column;
}
.form.error input{
    border-color: var(--clr-primary);
}
.form.error i{
    visibility: visible;
}
.form.error small{
    visibility: visible;
}
.input-field{
    display: flex;
    margin: 0;
    position: relative;
}
.input-field i{
    visibility: hidden;
    position: absolute;
    top: 11px;
    right: 15px;
    margin: auto 0;
}
small{
    visibility: hidden;
    margin-top: -15px;
    padding-left: 10px;
    font-size: 0.75rem;
    color: var(--clr-primary);
}

@media all and (min-width:700px){
    .container{
        flex-direction: row;
    }
    .main{
        flex-basis: 100%;
        padding: 5vw;
    }
    h1{
        padding: 1rem;
        font-size: 2.4rem;
        line-height: 3rem;
        text-align: left;
    }
    .intro{
        flex-basis: 100%;
        text-align: left;
        flex-grow: 1;
        padding-left: min(15rem,15vw);
    }

}
input:focus{
    outline: none;
}
button:hover{
    background-color:hsl(154, 83%, 43%);

}

